@charset "UTF-8";
.uppercase {
  text-transform: uppercase;
}

.breadcrumb {
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-weight: 600;
  display: none;
}
.breadcrumb__li {
  display: inline;
}
.breadcrumb__li::after {
  content: "⎯⎯";
  padding: 0 5px;
}
.breadcrumb__li--current {
  display: inline;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .breadcrumb {
    display: block;
    padding-top: 10px;
  }
}
.product-card {
  padding: 0 10px;
}
.product-card__img {
  padding: 0px;
  overflow: hidden;
}
.product-card__img-small {
  width: calc(30% - 5px);
}
.product-card__img--flex-wrap-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-card__img--flex-wrap-horizontal1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
}
.product-card__img-arrows {
  display: inline;
  text-align: end;
  padding: 40px 0px;
}

.product-card__img-arrow {
  display: inline;
}

.product-card__img-arrow--left {
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .product-card .product-card__img--flex-wrap-horizontal1 {
    flex-wrap: wrap;
  }
  .product-card .product-card__img-small {
    width: calc(50% - 5px);
  }
}
.product-card__info {
  font-family: "Raleway", system-ui;
  font-weight: 300;
}
.product-card__subtitle {
  display: none;
}
.product-card__title {
  font-family: "Dela Gothic One", system-ui;
  font-weight: 400;
  font-size: 18px;
  line-height: 27.23px;
  padding-bottom: 20px;
}
.product-card__color {
  padding-right: 47px;
  font-size: 14px;
  line-height: 23.27px;
}
.product-card__size {
  cursor: pointer;
  font-size: 14px;
  line-height: 23.27px;
}
input:checked + .product-card__size {
  font-family: "Raleway", system-ui;
  font-weight: 700;
}
.product-card__out-of-stock {
  color: #DA1F39;
  font-size: 12px;
  line-height: 19.97px;
}
.product-card__size-tabe {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
  line-height: 19.97px;
  text-decoration: underline;
  text-underline-position: under;
}
.product-card__price {
  font-family: "Raleway", system-ui;
  font-weight: 700;
}
.product-card__container {
  display: flex;
  align-items: center;
}
.product-card__container--amount {
  padding-bottom: 20px;
}
.product-card__container--size {
  padding-bottom: 10px;
  justify-content: space-between;
  max-width: 327px;
}
.product-card__container--out-of-stock {
  padding-bottom: 5px;
}
.product-card__container--size-table {
  padding-bottom: 30px;
}
.product-card__container-out-of-stock--size-table {
  padding-bottom: 5px;
}
.product-card__container--price {
  padding-bottom: 10px;
}

.form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.form__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  height: 21px;
}
.form__submit {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-family: "Raleway", system-ui;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.44px;
  background: #DA1F39;
  color: #FFF;
  padding: 17px 79px;
}
.form__submit--out-of-stock {
  font-family: "Raleway", system-ui;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.44px;
  padding: 17px;
}

@media only screen and (min-width: 768px) {
  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .product-card__img {
    grid-column: 1/2;
  }
  .product-card__info {
    padding-left: 16%;
    padding-right: 15px;
    grid-column: 2/3;
  }
  .product-card__subtitle {
    display: block;
    font-family: "Raleway", system-ui;
    font-weight: 400;
    font-size: 10px;
    line-height: 11.74px;
    color: #B5B5B5;
  }
  .product-card__title {
    padding-bottom: 40px;
    max-width: 434px;
  }
  .product-card__container--size {
    padding-bottom: 5px;
  }
  .product-card__container--size-table {
    padding-bottom: 40px;
  }
  .product-card__container-out-of-stock {
    padding-bottom: 10px;
  }
  .product-card__container-out-of-stock--size-table {
    padding-bottom: 10px;
  }
}
.description {
  padding: 70px 0;
  max-width: 433px;
}
.description__point:not(:last-child) {
  border-bottom: 1px solid #000;
}
.description__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.description__icon {
  position: relative;
  width: 11px;
  height: 2px;
  background: #000;
}
.description__icon::after {
  content: "";
  position: absolute;
  height: 11px;
  width: 2px;
  background: #000;
  top: -4.5px;
  left: 4.5px;
}
.description__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
  display: none;
}
.description input {
  display: none;
}
.description input:checked ~ .description__text {
  display: block;
}
.description input:checked ~ .description__title .description__icon:after {
  display: none;
}
.description .description__text {
  font-size: 12px;
  line-height: 20px;
}
.description .description__text p {
  margin-bottom: 15px;
}/*# sourceMappingURL=buy-product.css.map */