.card {
  width: 100%;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

@media (max-width:1000px) {
  .card {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .card {
    margin-top: 20px;
    gap: 30px;
  }
}


@media (max-width:460px) {
  .card {
    gap: 20px;
  }
}

.card__item {
  width: 44%;
}

.card__img:hover {
  background: url(../../img/nature.jpg) no-repeat;
  background-size: cover;
}

.card__item__img > img{
  width: 100%;
}

.card__item__description {
  margin-top: 10px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
}

@media (max-width:510px) {
  .card__item__description{
    font-size: 12px;
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
  }
}

.card__item__price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 166.2%;
}

.page-nav {
  margin: 65px 0 130px;
}

@media (max-width:787px) {
  .page-nav {
    justify-content: center;
    margin: 65px 0 80px;
  }
}

@media (max-width:460px) {
  .page-nav {
    justify-content: center;
    margin: 65px 0 50px;
  }
}

.view-more > img {
  padding-left: 5px;
  vertical-align: text-bottom;
}

.number-page {
  padding-right: 4%;
  margin-top: -20px;
}

.number-list {  
  display: flex;
  float: right;
  padding-right: 13%;
  margin-top: -20px;
  gap: 10px;
  list-style-type: none;
}

@media (max-width:460px) {
  .number-list {
    display: none;
  }
}

.view-more > a {
  font-family: 'Raleway';
  display: flex;
  justify-content: center;
  gap: 6px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
}

.filter-content {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
}

.content {
  width: 90%;
}

@media (max-width:787px) {
  .content {  
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .top {
    padding: 0 40px;
  }
}

.breadcrumb {
  margin-bottom: 40px;
  margin-top: 10px;
}