@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/RalewayFont/Raleway-Light.woff") format("woff"), url("../../fonts/RalewayFont/Raleway-Light.eot") format("embedded opentype"), url("../../fonts/RalewayFont/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-size: 12px;
  line-height: 19.97px;
  font-display: fallback;
}
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/RalewayFont/Raleway-Regular.woff") format("woff"), url("../../fonts/RalewayFont/Raleway-Regular.eot") format("embedded opentype"), url("../../fonts/RalewayFont/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: 16px;
  line-height: 18.78px;
  font-display: fallback;
}
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/RalewayFont/Raleway-SemiBold.woff") format("woff"), url("../../fonts/RalewayFont/Raleway-SemiBold.eot") format("embedded opentype"), url("../../fonts/RalewayFont/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-size: 14px;
  line-height: 16.44px;
  font-display: fallback;
}
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/RalewayFont/Raleway-Bold.woff") format("woff"), url("../../fonts/RalewayFont/Raleway-Bold.eot") format("embedded opentype"), url("../../fonts/RalewayFont/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-size: 14px;
  line-height: 23.27px;
  font-display: fallback;
}
@font-face {
  font-family: "Dela Gothic One";
  src: url("../../fonts/DelaGothicOne/DelaGothicOne-Regular.woff2") format("woff2"), url("../../fonts/DelaGothicOne/DelaGothicOne-Regular.woff") format("woff"), url("../../fonts/DelaGothicOne/DelaGothicOne-Regular.eot") format("embedded opentype"), url("../../fonts/DelaGothicOne/DelaGothicOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: 14px;
  line-height: 23.27px;
  font-display: fallback;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  min-width: 320px;
}

body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
}

main {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1280px;
    padding: 0 80px;
  }
}
.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1400px;
}
@media (min-width: 769px) and (max-width: 1036px) {
  .container {
    padding: 0 20px !important;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1280px;
    padding: 0 80px;
  }
}
h2 {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
  }
}
h4 {
  font-weight: 300;
  font-size: 14px;
  line-height: 23.27px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 0.75px;
}

.breadcrumb {
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-size: 12px;
  font-weight: 600;
  display: none;
}
.breadcrumb__li {
  display: inline;
}
.breadcrumb__li::after {
  content: "⎯⎯";
  padding: 0 5px;
}
.breadcrumb__li--current {
  display: inline;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .breadcrumb {
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}

.title {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .top {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.view {
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  vertical-align: baseline;
  justify-content: space-between;
}
.view__layout {
  display: none;
}
.view__layout-img {
  display: inline-block;
  padding-right: 5px;
  opacity: 50%;
}
.view__layout-img--active {
  opacity: 100%;
}
.view__sort {
  display: inline-block;
}
.view__sort-list {
  display: inline-block;
}
.view-item {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .view__layout {
    display: inline-block;
  }
}
.filter {
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  width: 349px;
  height: 541px;
  top: 50%;
  left: 0%;
  background: #FFFFFF;
  box-shadow: 6px 6px 8px rgba(179, 179, 179, 0.25), 4px 4px 6px rgba(135, 135, 135, 0.25);
  z-index: 2;
}
.filter__name--mobile {
  font-family: "Raleway", system-ui;
  font-weight: 300;
  font-size: 12px;
  display: block;
  padding-bottom: 10px;
  cursor: pointer;
}
.filter__flexwrap--mobile {
  display: flex;
  justify-content: space-between;
}
.filter__category {
  padding-bottom: 15px;
}
.filter__title--wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-weight: 600;
  padding-bottom: 15px;
}
.filter__list-item {
  padding-bottom: 10px;
}

.filter__mobile {
  display: none;
}

.show {
  display: block;
}

@media only screen and (min-width: 768px) {
  .filter {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    box-shadow: none;
    z-index: 0;
  }
  .filter__flexwrap--mobile {
    display: block;
  }
  .filter__name--mobile {
    display: none;
  }
}
.checkbox--custom {
  display: inline-block;
  position: relative;
  vertical-align: sub;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 1px solid #565656;
  margin-right: 5px;
  box-sizing: content-box;
}
.checkbox--custom::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: #565656;
  top: 10%;
  left: 10%;
  height: 8px;
  width: 8px;
  border: 0;
  transition: all 0.1s ease-in;
  transform: scale(0);
}
.checkbox--real:checked + .checkbox--custom::before {
  transform: scale(1);
}
.checkbox--real {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.arrow {
  display: inline;
}
.arrow:hover {
  transition: all 0.05s ease-in;
  color: #939694;
}
.arrow--active {
  transform: rotate(180deg);
}/*# sourceMappingURL=main.css.map */